<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.testng_ex.TestGroup</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>runFinal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testConnectOracle</td>
<td>database </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>runSelenium1</td>
<td>selenium-test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>runSelenium2</td>
<td>selenium-test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testConnectMsSQL</td>
<td>database </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.testng_ex.TestCalcAPI</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testAdd</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSkip</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testException</td>
<td>selenium-test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>softAssert</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testThread</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testFail</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
