<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>database</td><td>TestGroup.testConnectOracle()[pri:0, instance:com.testng_ex.TestGroup@6e8dacdf]<br/>TestGroup.testConnectOracle()[pri:0, instance:com.testng_ex.TestGroup@3796751b]<br/>TestGroup.testConnectMsSQL()[pri:0, instance:com.testng_ex.TestGroup@6e8dacdf]<br/>TestGroup.testConnectMsSQL()[pri:0, instance:com.testng_ex.TestGroup@3796751b]<br/></td></tr>
<tr><td>selenium-test</td><td>TestGroup.runSelenium2()[pri:0, instance:com.testng_ex.TestGroup@6e8dacdf]<br/>TestGroup.runSelenium1()[pri:0, instance:com.testng_ex.TestGroup@6e8dacdf]<br/>TestCalcAPI.testException()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]<br/></td></tr>
</table>
