<h2>Methods that were not run</h2><table>
<tr><td>com.testng_ex.TestCalcAPI.testSkip</td></tr>
<tr><td>com.testng_ex.TestGroup.runSelenium2</td></tr>
<tr><td>com.testng_ex.TestGroup.runSelenium1</td></tr>
<tr><td>com.testng_ex.TestGroup.runFinal</td></tr>
</table>