<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterClass()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-79</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@102965047</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-73</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1563015391</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-67</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@102965047</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-64</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@459413212</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@459413212</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-52</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1563015391</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-154</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeClass()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-93</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1563015391</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-92</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@459413212</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-88</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@102965047</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-77</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@102965047</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1563015391</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-62</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@459413212</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>15/09/15 13:18:29</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestGroup.cleanDB()[pri:0, instance:com.testng_ex.TestGroup@6e8dacdf]">&lt;&lt;cleanDB</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>15/09/15 13:18:29</td>   <td>56</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup.runFinal()[pri:0, instance:com.testng_ex.TestGroup@6e8dacdf]">runFinal</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>15/09/15 13:18:29</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup.runSelenium1()[pri:0, instance:com.testng_ex.TestGroup@6e8dacdf]">runSelenium1</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>15/09/15 13:18:29</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup.runSelenium2()[pri:0, instance:com.testng_ex.TestGroup@6e8dacdf]">runSelenium2</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>15/09/15 13:18:29</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestGroup.setupDB()[pri:0, instance:com.testng_ex.TestGroup@6e8dacdf]">&gt;&gt;setupDB</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.softAssert()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">softAssert</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testAdd(int, int, int)[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testAdd</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testAdd(int, int, int)[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testAdd</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testAdd(int, int, int)[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testAdd</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>15/09/15 13:18:29</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup.testConnectMsSQL()[pri:0, instance:com.testng_ex.TestGroup@6e8dacdf]">testConnectMsSQL</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>15/09/15 13:18:29</td>   <td>119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup.testConnectMsSQL()[pri:0, instance:com.testng_ex.TestGroup@3796751b]">testConnectMsSQL</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>15/09/15 13:18:29</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup.testConnectOracle()[pri:0, instance:com.testng_ex.TestGroup@6e8dacdf]">testConnectOracle</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>15/09/15 13:18:29</td>   <td>120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup.testConnectOracle()[pri:0, instance:com.testng_ex.TestGroup@3796751b]">testConnectOracle</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testException()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testException</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testFail()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testFail</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-93</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testThread()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testThread</td> 
  <td>TestNG@1563015391</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-91</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testThread()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testThread</td> 
  <td>TestNG@459413212</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-86</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testThread()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testThread</td> 
  <td>TestNG@102965047</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-76</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testThread()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testThread</td> 
  <td>TestNG@102965047</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testThread()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testThread</td> 
  <td>TestNG@459413212</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>-61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testThread()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testThread</td> 
  <td>TestNG@1563015391</td>   <td></td> </tr>
</table>
