<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeClass()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testException()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testException</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1563015391</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testThread()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testThread</td> 
  <td>TestNG@1563015391</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>62</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@459413212</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testThread()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testThread</td> 
  <td>TestNG@459413212</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>66</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@102965047</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>68</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testThread()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testThread</td> 
  <td>TestNG@102965047</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>75</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@102965047</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>77</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@102965047</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>78</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testThread()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testThread</td> 
  <td>TestNG@102965047</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>81</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1563015391</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>93</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1563015391</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>87</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@102965047</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>90</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@459413212</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>92</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@459413212</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>93</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testThread()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testThread</td> 
  <td>TestNG@459413212</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>93</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testThread()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testThread</td> 
  <td>TestNG@1563015391</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@459413212</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1563015391</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testAdd(int, int, int)[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testAdd</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testAdd(int, int, int)[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testAdd</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testAdd(int, int, int)[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testAdd</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.softAssert()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">softAssert</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCalcAPI.beforeMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCalcAPI.testFail()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">testFail</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterMethod()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>15/09/15 13:18:29</td>   <td>154</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCalcAPI.afterClass()[pri:0, instance:com.testng_ex.TestCalcAPI@1e643faf]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>15/09/15 13:18:29</td>   <td>155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup.runSelenium1()[pri:0, instance:com.testng_ex.TestGroup@6e8dacdf]">runSelenium1</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>15/09/15 13:18:29</td>   <td>158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup.runSelenium2()[pri:0, instance:com.testng_ex.TestGroup@6e8dacdf]">runSelenium2</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>15/09/15 13:18:29</td>   <td>170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestGroup.setupDB()[pri:0, instance:com.testng_ex.TestGroup@6e8dacdf]">&gt;&gt;setupDB</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>15/09/15 13:18:29</td>   <td>171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup.testConnectMsSQL()[pri:0, instance:com.testng_ex.TestGroup@6e8dacdf]">testConnectMsSQL</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>15/09/15 13:18:29</td>   <td>178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup.testConnectOracle()[pri:0, instance:com.testng_ex.TestGroup@6e8dacdf]">testConnectOracle</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>15/09/15 13:18:29</td>   <td>197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestGroup.cleanDB()[pri:0, instance:com.testng_ex.TestGroup@6e8dacdf]">&lt;&lt;cleanDB</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>15/09/15 13:18:29</td>   <td>210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup.runFinal()[pri:0, instance:com.testng_ex.TestGroup@6e8dacdf]">runFinal</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>15/09/15 13:18:29</td>   <td>273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup.testConnectMsSQL()[pri:0, instance:com.testng_ex.TestGroup@3796751b]">testConnectMsSQL</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>15/09/15 13:18:29</td>   <td>274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup.testConnectOracle()[pri:0, instance:com.testng_ex.TestGroup@3796751b]">testConnectOracle</td> 
  <td>main@1753447031</td>   <td></td> </tr>
</table>
