<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.testng_ex.TestGroup3</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>runFinal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test12</td>
<td>group3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test11</td>
<td>group3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test22</td>
<td>group4 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test21</td>
<td>group4 </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.testng_ex.TestGroup1</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>runFinal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test12</td>
<td>group1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test11</td>
<td>group1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test22</td>
<td>group2 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test21</td>
<td>group2 </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.testng_ex.TestGroup2</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>runFinal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test12</td>
<td>group1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test11</td>
<td>group1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test22</td>
<td>group2 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test21</td>
<td>group2 </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
