<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>group1</td><td>TestGroup2.test12()[pri:0, instance:com.testng_ex.TestGroup2@43a25848]<br/>TestGroup2.test11()[pri:0, instance:com.testng_ex.TestGroup2@43a25848]<br/></td></tr>
<tr><td>group2</td><td>TestGroup2.test21()[pri:0, instance:com.testng_ex.TestGroup2@43a25848]<br/>TestGroup1.test21()[pri:0, instance:com.testng_ex.TestGroup1@2133c8f8]<br/>TestGroup2.test22()[pri:0, instance:com.testng_ex.TestGroup2@43a25848]<br/></td></tr>
<tr><td>group3</td><td>TestGroup3.test11()[pri:0, instance:com.testng_ex.TestGroup3@2d6e8792]<br/>TestGroup3.test12()[pri:0, instance:com.testng_ex.TestGroup3@2d6e8792]<br/></td></tr>
<tr><td>group4</td><td>TestGroup3.test22()[pri:0, instance:com.testng_ex.TestGroup3@2d6e8792]<br/>TestGroup3.test21()[pri:0, instance:com.testng_ex.TestGroup3@2d6e8792]<br/></td></tr>
</table>
