<h2>Methods that were not run</h2><table>
<tr><td>com.testng_ex.TestGroup1.test11</td></tr>
<tr><td>com.testng_ex.TestGroup1.test22</td></tr>
<tr><td>com.testng_ex.TestGroup1.runFinal</td></tr>
<tr><td>com.testng_ex.TestGroup1.test12</td></tr>
<tr><td>com.testng_ex.TestGroup1.test11</td></tr>
<tr><td>com.testng_ex.TestGroup1.test22</td></tr>
<tr><td>com.testng_ex.TestGroup1.test21</td></tr>
<tr><td>com.testng_ex.TestGroup3.runFinal</td></tr>
<tr><td>com.testng_ex.TestGroup1.runFinal</td></tr>
<tr><td>com.testng_ex.TestGroup1.test12</td></tr>
</table>