<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestAll</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6de788">  <td>15/09/15 17:23:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestGroup2.beforeGroups()[pri:0, instance:com.testng_ex.TestGroup2@43a25848]">&gt;&gt;beforeGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1018937824</td>   <td></td> </tr>
<tr bgcolor="63be87">  <td>15/09/15 17:23:27</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup1.test21()[pri:0, instance:com.testng_ex.TestGroup1@2133c8f8]">test21</td> 
  <td>main@1018937824</td>   <td></td> </tr>
<tr bgcolor="63be87">  <td>15/09/15 17:23:27</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestGroup1.beforeGroups()[pri:0, instance:com.testng_ex.TestGroup1@2133c8f8]">&gt;&gt;beforeGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1018937824</td>   <td></td> </tr>
<tr bgcolor="6de788">  <td>15/09/15 17:23:27</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup2.test11()[pri:0, instance:com.testng_ex.TestGroup2@43a25848]">test11</td> 
  <td>main@1018937824</td>   <td></td> </tr>
<tr bgcolor="6de788">  <td>15/09/15 17:23:27</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup2.test12()[pri:0, instance:com.testng_ex.TestGroup2@43a25848]">test12</td> 
  <td>main@1018937824</td>   <td></td> </tr>
<tr bgcolor="63be87">  <td>15/09/15 17:23:27</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestGroup1.afterGroups()[pri:0, instance:com.testng_ex.TestGroup1@2133c8f8]">&lt;&lt;afterGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1018937824</td>   <td></td> </tr>
<tr bgcolor="6de788">  <td>15/09/15 17:23:27</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup2.test21()[pri:0, instance:com.testng_ex.TestGroup2@43a25848]">test21</td> 
  <td>main@1018937824</td>   <td></td> </tr>
<tr bgcolor="6de788">  <td>15/09/15 17:23:27</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup2.test22()[pri:0, instance:com.testng_ex.TestGroup2@43a25848]">test22</td> 
  <td>main@1018937824</td>   <td></td> </tr>
<tr bgcolor="6de788">  <td>15/09/15 17:23:27</td>   <td>49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestGroup2.afterGroups()[pri:0, instance:com.testng_ex.TestGroup2@43a25848]">&lt;&lt;afterGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1018937824</td>   <td></td> </tr>
<tr bgcolor="6de788">  <td>15/09/15 17:23:27</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup2.runFinal()[pri:0, instance:com.testng_ex.TestGroup2@43a25848]">runFinal</td> 
  <td>main@1018937824</td>   <td></td> </tr>
<tr bgcolor="7f6480">  <td>15/09/15 17:23:28</td>   <td>151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup3.test11()[pri:0, instance:com.testng_ex.TestGroup3@2d6e8792]">test11</td> 
  <td>main@1018937824</td>   <td></td> </tr>
<tr bgcolor="7f6480">  <td>15/09/15 17:23:28</td>   <td>154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup3.test12()[pri:0, instance:com.testng_ex.TestGroup3@2d6e8792]">test12</td> 
  <td>main@1018937824</td>   <td></td> </tr>
<tr bgcolor="7f6480">  <td>15/09/15 17:23:28</td>   <td>157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup3.test21()[pri:0, instance:com.testng_ex.TestGroup3@2d6e8792]">test21</td> 
  <td>main@1018937824</td>   <td></td> </tr>
<tr bgcolor="7f6480">  <td>15/09/15 17:23:28</td>   <td>161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup3.test22()[pri:0, instance:com.testng_ex.TestGroup3@2d6e8792]">test22</td> 
  <td>main@1018937824</td>   <td></td> </tr>
</table>
